<template>
  <div id="app">
    <div v-show="!isGame">
      <video controls src="./src/assets/video/INTRO.mp4" autoplay="true" controls="false" width="1280px" height="720px">Ici la description alternative</video>
      <h2><button @click="isGame=true">Enter</button></h2>
    </div>
    <game
      v-show="isGame"
      :isGame="isGame"
    ></game>
  </div>
</template>


<script type="text/javascript">

import Game from './vues/Game.vue';


export default {
  name: 'app',
  created: function () {
  },
  mounted : function(){
    
  },
  methods : {
   
  },
  data () {
    return {
      isGame : false
    }
  },
  components : {
    Game
  }
}
</script>

<style>

html, body {
  margin : 0;
  padding: 0;
  background-color: black;
}


#app {
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin-top: 60px;
}

h1, h2 {
  font-weight: normal;
}

ul {
  list-style-type: none;
  padding: 0;
}

li {
  display: inline-block;
  margin: 0 10px;
}

a {
  color: #42b983;
}
</style>
