<template>
    <div id="game">
  </div>
</template>

<script>

import bootState from '../states/boot.js';
import loadState from '../states/load.js';
import menuState from '../states/menu.js';
import playState from '../states/play.js';
import scoreState from '../states/score.js';





export default {
  name: 'game',
  props : ['isGame'],
  data : function(){
    return {
      game : new Phaser.Game(15*64, 9*64, Phaser.AUTO, 'game')
    }
  },
  created : function(){
    var game =  this.$data.game;

    game.state.add('boot', bootState);
    game.state.add('load', loadState);
    game.state.add('menu', menuState);
    game.state.add('play', playState);
    game.state.add('score', scoreState);

  },
  mounted : function(){
  },
  methods: {
  },
  watch : {
    isGame : function(){
      this.$data.game.state.start('boot');
    }
  },
 
}
</script>

<style>
#game {
  width: 100%;
  position: absolute;
  top : 0;
  left : 0;
  padding-top : 15%;
  display: flex;
    justify-content: center;
}

</style>
